// Equal vertical and horizontal column gap
.columns.is-variable .column {
  padding: var(--columnGap);
}

// Page transition
$animLen: 0.2s;
.view-enter-active {
  transition: opacity $animLen ease-out, transform $animLen ease;
}
.view-leave-active {
  transition: opacity $animLen ease-in, transform $animLen ease;
}
.view-enter-active {
  transition-delay: $animLen;
}
.view-enter, .view-leave-to {
  opacity: 0;
}
.view-enter-to, .view-leave {
  opacity: 1;
}

// Lazyloaded images fade-in
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
  opacity: 1;
	transition: opacity 300ms;
}
