// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$black: #3d2c2e;
$white: white;
$paper: #FBFBF8;

$primary: #c46258;
$primary-invert: findColorInvert($primary);
$primary-light: findColorLight($primary);
$primary-dark: findColorDark($primary-light);

$secondary: #D1CCDC;
$secondary-invert: findColorInvert($secondary);
$secondary-light: findColorLight($secondary);
$secondary-dark: findColorDark($secondary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps($colors, (
  "white": ($white, $black),
  "black": ($black, $white),
  "primary": ($primary, $primary-invert, $primary-light, $primary-dark),
  "secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark),
  "link": ($secondary, $secondary-invert, $secondary-light, $secondary-dark),
));

// Links
$link: $primary;
$link-active: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$family-serif: "Cinzel";
$family-sans-serif: "Nunito";
$family-primary: $family-sans-serif, sans-serif;

$scheme-main: $paper;
$text: $black;
$body-weight: 400;

$footer-background-color: $white-ter;

$modal-background-background-color: bulmaRgba($primary, 0.92);
$snackbar-background-color: $primary;
$snackbar-color: $white;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.link-active {
  color: $link-active;
}

.title {
  font-family: $family-serif;
  font-weight: normal;
  word-break: normal;
}

:focus {
  outline-style: none;
}

.input, .textarea {
  background-color: white;
}
