//@import "~bulma/sass/utilities/_all";
@import '~bulma/sass/utilities/initial-variables'; 
@import '~bulma/sass/utilities/functions';

// customize styles
$family-sans-serif: "Nunito", sans-serif;
$family-serif: "Cinzel", serif;
$family-secondary: $family-serif;

$paper: #FBFBF8;

// $primary: #923828;
$primary: #c46258;
$link: $primary !default;

@import '~bulma';

body {
  background-color: $paper;
}

.title {
  font-family: $family-secondary;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 0.8rem
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu.is-active {
    padding: 1rem;
    .navbar-item {
      font-family: $family-serif;
      font-size: 2rem;
      border-top: 1px solid $dark;
    }
  }
}
.navbar-item.is-active a {
  color: $dark;
}
  

$animLen: 0.25s;
.view-enter-active {
  transition: opacity $animLen ease-out, transform $animLen ease;
}
.view-leave-active {
  transition: opacity $animLen ease-in, transform $animLen ease;
}
.view-enter-active {
  transition-delay: $animLen;
}
.view-enter, .view-leave-to {
  opacity: 0;
}
.view-enter-to, .view-leave {
  opacity: 1;
}
